html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    position: relative;
    font-family: 'Athiti', sans-serif;
    color: $fontMainColor;
    max-width: 1900px;
    min-width: 500px;
}


